 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#director {
    padding: 20px;
}
#img-director {
    float: left;
    margin-right: 20px;
}
#img-director img {
    width: 200px;
    height: auto;
}
#bio-director {
    overflow: hidden;
    background-color: #f0f0f0;
}
h1{
    text-align: center;
    text-decoration: underline;
}