body {
    background-color: black;
    color: rgb(247, 225, 173);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

img {
    height: 325px;
    width: 300px;
    margin-left: 20%;
}

form {
    float: right;
    width: 45%;
    margin-top: 20px;
}

fieldset {
    border: none;
}

label {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
}

input, textarea {
    background-color: black;
    color: rgb(247, 225, 173);
    border: 1px solid rgb(247, 225, 173);
    padding: 5px;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    background-color: rgb(247, 225, 173);
    color: black;
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(220, 190, 130);
}

div h1 {
    text-align: center;
}
