body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    color: #333;
    text-align: center;
}
#navigation {
    margin-top: 10px;
    text-align: center;
}
#description {
    display: flex;
    align-items: flex-start;
}
#media {
    display: flex;
    align-items: flex-start;
}
nav a {
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    background-color: #ddd;
}
img{
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
}
article {
    margin: 20px;
    padding: 20px;
    background-color: #ddd;
}
span{
    font-weight: bold;
}