body {
    background-color: f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

h1, h2, h4 {
    text-align: center;
}

#cinemes {
    margin: 5%;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
}

th {
    background-color: #000;
    color: f0f0f0;
}

td img {
    width: 60px;
    height: auto;
}
#opinion {
    text-align: center;
    margin: 60px 0;
}

#opinion h2 {
    color: #000;
}

#links {
    float: left;
    width: 40%;
    padding-left: 5%;
}

#links a {
    font-size: 14px;
}

#lliure {
    float: right;
    width: 40%;
    text-align: center;
    padding-right: 5%;
}

#lliure img {
    width: 40px;
    margin: 5px;
}
footer {
    clear: both;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #000;
    color: rgb(247, 225, 173);
}
span{
    font-weight: bold;
}